<template>
  <div class="wrapper-track">
    <img :src="image" class="wrapper-track__image"/>
    <div class="wrapper-track__body">
      <p class="wrapper-track__title">{{ trackTitle }}</p>
      <p class="wrapper-track__album">{{ albumTitle }}</p>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    trackTitle: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
    albumTitle: {
      type: String,
    },
  },
};
</script>
<style lang="less" scoped>
@import "./style.less";
</style>