<template>
  <footer>
    <h2>Ernesto López Sánchez</h2>
    <div class="social-networks">
      <a
        href="https://www.linkedin.com/in/ernesto-l%C3%B3pez-s%C3%A1nchez-193883100/"
        target="_blank"
      >
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </footer>
</template>
<script>
</script>
<style lang="less" scoped>
@import "./style.less";
</style>