footer {
  background: black;
  color: #2EBD59;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .social-networks div {
  margin: 15px;
}
footer .social-networks i {
  color: #2EBD59;
}
footer .social-networks i:hover {
  color: white;
}
