footer {
    background: black;
    color: #2EBD59;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .social-networks {
        div {
            margin: 15px;
        }
        i {
            color: #2EBD59;
            &:hover {
                color: white;
            }
        }
    }
}