<template>
  <div>
    <Spinner v-if="isLoading" />
    <input
      class="fas fa-search"
      type="text"
      v-model="input"
      @keyup="getSongs(spotifyToken, input)"
    />

    <i class="fas fa-search"></i>
  </div>
</template>
<script>
import axios from "axios";
import Spinner from "../../ui/Spinner";
export default {
  components: {
    Spinner,
  },
  props: ["spotifyToken"],
  data() {
    return {
      input: "",
      isLoading: false,
      timeoutId: 1000
    };
  },
  methods: {
    getSongs(token, track) {
      clearTimeout(this.timeoutId);
      this.timeoutId = setTimeout(() => {
        const config = {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        };
        this.isLoading = true;
        axios
          .get(
            `https://api.spotify.com/v1/search?q=${track}&type=track`,
            config
          )
          .then((data) => this.$emit("tracks", data.data.tracks.items));
        this.isLoading = false;
      }, 1000);
    },
  },
};
</script>

<style lang="less" scoped>
@import "./style.less";
</style>