input {
    border: none;
    border-bottom: 1px solid;
    width: 50%;
    padding: 5px;
    font-size: 1.5rem;
    &:focus-visible {
       outline: none; 
    }
}
i {
    font-size: 1.5rem;
    color: #2EBD59;
}