<template>
  <div class="warapper-list">
    <TrackList
      v-for="tracks in trackList"
      :key="tracks.id"
      :trackTitle="tracks.name"
      :image="tracks.album.images[0].url"
      :albumTitle="tracks.album.name"
    />
  </div>
</template>
<script>
import TrackList from "../TrackList";
export default {
  components: {
    TrackList,
  },
  props: {
    trackList: {
      type: Array,
      required: true,
    },
  },
};
</script>
<style lang="less" scoped>
@import "./style.less";
</style>