.warapper-list {
    margin: 3rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}

@media (min-width: 768px) {
    .warapper-list {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }
}

@media (min-width: 1440px) {
    .warapper-list {
        grid-template-columns: repeat(6, 1fr);
        column-gap: 30px;
    }
}