<template>
  <div class="wrapper-app">
    <Header />
    <div class="wrapper-app__container">
      <h1 class="wrapper-app__title">Encuentra tu canción favorita</h1>
      <SearchForm :spotifyToken="spotifyToken" @tracks="setSongs" />
      <div v-if="trackList.length > 0">
        <List :trackList="trackList" />
      </div>
      <div v-else class="wrapper-app__message">
        <p>Escribe la canción/artísca o albúm que quieras buscas</p>
      </div>
    </div>
    <Footer />
  </div>
</template>
<script>
import { clientId, clientSecret } from "../../spotifyCredentials";
import Header from "../components/ui/Header";
import Footer from "../components/ui/Footer";
import SearchForm from "./main/SearchForm";
import List from "./main/List";

export default {
  components: {
    SearchForm,
    List,
    Header,
    Footer,
  },
  data() {
    return {
      input: "",
      spotifyToken: "",
      trackList: {},
    };
  },
  methods: {
    setSongs(data) {
      this.trackList = data;
    },
    async getToken() {
      const result = await fetch("https://accounts.spotify.com/api/token", {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
          Authorization: `Basic ${btoa(`${clientId()}:${clientSecret()}`)}`,
        },
        body: "grant_type=client_credentials",
      });
      const data = await result.json();
      this.spotifyToken = data.access_token;
    },
  },
  mounted() {
    this.getToken();
  },
};
</script>

<style lang="less" scoped>
.wrapper-app {
  height: 100vh;
  &__container {
    padding: 0 15px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    font-size: 1.5rem;
  }
  &__message {
    font-style: italic;
    margin: 1rem 0;
  }
}

@media (min-width: 768px) {
  .wrapper-app {
    &__container {
      padding: 0 30px;
      min-height: 50vh;
    }
  }
}

@media (min-width: 1440px) {
  .wrapper-app {
    &__container {
      padding: 0 60px;
      max-width: 1440px;
      margin: 0 auto;
      min-height: 70vh;
    }
  }
}
</style>