<template>
  <header>
    <Logo />
  </header>
</template>
<script>
import Logo from "../Logo";
export default {
  components: {
    Logo,
  },
};
</script>

<style lang="less" scoped>
@import "./style.less";
</style>