<template>
  <div id="app">
      <SongsApp />
  </div>
</template>

<script>
import SongsApp from "./components/SongsApp";
export default {
  components: {
    SongsApp
  },
  name: 'App'
}
</script>

<style lang="less">
@import "../src/assets/css/main.less";
</style>
